<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question & Choice Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery 사용 -->
    <script th:src="@{/js/common/utils.js}"></script>
    <script th:src="@{/js/register/quiz.js}"></script>
</head>
<body>
<form th:method="post" id="questionForm" enctype="multipart/form-data" th:object="${question}">
    <input type="hidden" id="id" th:value="*{id}" />
<div class="container my-5">
    <h2>Quiz</h2>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="useFlag">Use Flag</label>
        <div class="col-sm-10">
            <input type="checkbox" class="form-check-input" id="useFlag" name="useFlag"
                   th:checked="${question.useFlag}">
        </div>
    </div>

    <!-- 종목 -->
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="qid">종목</label>
        <div class="col-sm-10">
            <select id="qid" th:field="*{qid.id}" class="form-select">
                <option value="0" >선택</option>
                <option th:each="q : ${qname}"
                        th:value="${q.id}"
                        th:text="${q.name}"></option>
            </select>
        </div>
    </div>

    <!-- 과목 -->
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="subjectId">과목</label>
        <div class="col-sm-10">
            <select id="subjectId" th:field="*{subject.id}" class="form-select">
                <option value="0">선택</option>
                <option th:each="s : ${subject}"
                        th:value="${s.id}"
                        th:text="${s.name}">
                </option>
            </select>
        </div>
    </div>

    <!-- 시험일 -->
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="examId">시험일</label>
        <div class="col-sm-10">
            <select id="examId" th:field="*{examNo.id}" class="form-select">
                <option value="0">선택</option>
                <option th:each="exam : ${examNo}"
                        th:value="${exam.id}"
                        th:text="${exam.examDay}"></option>
            </select>
        </div>
    </div>

    <!-- 문제번호 -->
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="no">번호</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="no" name="no"
                   placeholder="Question No" th:value="${question.no}">
        </div>
    </div>
    <!-- 문제 -->
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="name">문제</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="name" name="name" rows="4"
                      placeholder="Question " th:text="${question.name}"></textarea>
        </div>
    </div>

    <!-- 문제 이미지 -->
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="questionImageFile">문제 그림</label>
        <div class="col-sm-10">
            <div id="questionImageFileName" th:text="${question.imageUrl}"></div>
            <input type="file" class="form-control" id="questionImageFile" name="questionImageFile"
                   accept=".png, .jpg, .jpeg">
            <div th:if="${question.questionImageFlag}">
                <img th:src="@{${question.imageUrl}}" alt="Question Image" style="max-width: 100%;" />
            </div>
        </div>
    </div>

    <!-- 정답 -->
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="correct">정답</label>
        <div class="col-sm-10">
            <select id="correct" th:field="*{correct}" class="form-select">
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="3">4</option>
            </select>
        </div>
    </div>

    <!--    <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="questionImageFlag">Question Image Flag</label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-check-input" id="questionImageFlag" name="questionImageFlag"
                       disable th:checked="${question.questionImageFlag}">
            </div>
        </div>-->

    <hr>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="choiceImageFlag">이미지 사용</label>
        <div class="col-sm-10">
            <input type="checkbox" class="form-check-input" id="choiceImageFlag" name="choiceImageFlag"
                   disable th:checked="${question.choiceImageFlag}">
        </div>
    </div>

    <div class="row mb-3">
        <label class="text-center col-sm-2 col-form-label" for="no" rowspan="2">1</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="choiceName1" name="choiceName1" rows="2"
                      placeholder=" " th:text="${choice[0].name}"></textarea>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <div id="question.imageUrl1" th:text="${choice[0].imageUrl}"></div>
            <input type="file" class="form-control" id="choiceFile1" name="choiceFile1"
                   accept=".png, .jpg, .jpeg">
            <div th:if="${choice[0].imageUrl != null }">
                <img th:src="@{${choice[0].imageUrl}}" alt="Question Image" style="max-width: 100%;" />
            </div>
        </div>
    </div>

    <hr>

    <div class="row mb-3">
        <label class="text-center col-sm-2 col-form-label" for="no" rowspan="2">2</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="choiceName2" name="choiceName2" rows="2"
                      placeholder=" " th:text="${choice[1].name}"></textarea>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <div id="question.imageUrl2" th:text="${choice[1].imageUrl}"></div>
            <input type="file" class="form-control" id="choiceFile2" name="choiceFile2"
                   accept=".png, .jpg, .jpeg">
            <div th:if="${choice[1].imageUrl != null }">
                <img th:src="@{${choice[1].imageUrl}}" alt="Question Image" style="max-width: 100%;" />
            </div>

        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <label class="text-center col-sm-2 col-form-label" for="no" rowspan="2">3</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="choiceName3" name="choiceName3" rows="2"
                      placeholder=" " th:text="${choice[2].name}"></textarea>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <div id="question.imageUrl3" th:text="${choice[2].imageUrl}"></div>
            <input type="file" class="form-control" id="choiceFile3" name="choiceFile3"
                   accept=".png, .jpg, .jpeg">
            <div th:if="${choice[2].imageUrl != null }">
                <img th:src="@{${choice[2].imageUrl}}" alt="Question Image" style="max-width: 100%;" />
            </div>
        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <label class="text-center col-sm-2 col-form-label" for="no" rowspan="2">4</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="choiceName4" name="choiceName4" rows="2"
                      placeholder=" " th:text="${choice[3].name}"></textarea>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <div id="question.imageUrl4" th:text="${choice[3].imageUrl}"></div>
            <input type="file" class="form-control" id="choiceFile4" name="choiceFile4"
                   accept=".png, .jpg, .jpeg">
            <div th:if="${choice[3].imageUrl != null }">
                <img th:src="@{${choice[3].imageUrl}}" alt="Question Image" style="max-width: 100%;" />
            </div>
        </div>
    </div>

    <!-- 버튼 2개를 수평으로 정렬 -->
    <div class="d-flex justify-content-between">
        <button type="button" id="submitButton" class="btn btn-primary" >저장</button>
        <button type="button" id="closeButton" class="btn btn-primary">취소/창닫기</button>
    </div>
</div>
</form>
</body>
</html>



